{% extends 'base.html.twig' %}

{% block title %}Hello ExerciseController!{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 col-md-5">
                {{ form(form) }}
            </div>
            <div class="col-12 col-md-6 offset-0 offset-md-1">
                {% for lesson in course.lessons %}
                    <div class="card mt-3">
                        <div class="card-body">
                            {{ lesson.name }} <br/>
                            <span class="fw-light">{{ lesson.description }}</span> <br/>
                            <a href="{{ path('app_course_lesson', { course: course.id, lesson: lesson.id }) }}">Bekijk cursus</a>
                            {#                            <p style="font-size: 40px">{{ variation.variation }}</p>#}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
